.black{background-color:#101010}
.white{background-color:#282828;}
.bgblack{background-color: black;}
.bggrey{background-color:#1B1212 ;}
.ac1{background-color: black;}
.ac2{background-color:#101010}
.heading{background-color: black;}
.pg{text-transform:uppercase ;}
.pg{text-align: center;}
.pg{color: white;}
.pg{font-size: 102px;}
.link{color:antiquewhite;}
.link{font-size: 60px;}
